{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fluxus Passes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>
<body class="text-center pt-5">
        <div>
            <b>Welcome to the login portal of the Fluxus Passes</b>
        </div>
        <p class="m-0">Hello {{user.first_name}}!</p>
        <span>{% trans 'You are logged in as:' %} {{ user.email}}</span>
        {% if context == "" %}
        <form action="." method="post" class="px-5 mx-md-5 pb-5" enctype="multipart/form-data">
            {% csrf_token %}
        <button type="submit"> request Passes </button>
        </form>
        {% endif %}
        <div>{{context}}</div>
        <a class="btn btn-danger" href="{% url 'account_logout' %}">Sign Out</a>
</body>
</html>

